---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import LatestArticles from "../components/LatestArticles.astro";
import CollectionsPreview from "../components/CollectionsPreview.astro"
import { getBlogPosts } from "../store/blog";
import { ArrowRight } from "@lucide/astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";

const { featuredPost, otherPosts } = await getBlogPosts();
---

<Layout>
	<Header />
	<main class="flex flex-col gap-5 pb-20">
		<div class="space-y-6">
			<div class="flex items-center gap-10">
				<h1 class="text-[6rem] font-bold italic text-stone-800">
					Best of the week
				</h1>
				<h2
					class="flex gap-2 mt-10 text-lg items-center animate-bounce"
				>
					See all collections <ArrowRight size={15} />
				</h2>
			</div>

			<a
				href={`/blog/${featuredPost.data.slug}`}
				class="group flex gap-6 bg-gradient-to-r from-primary/10 to-transparent overflow-hidden shadow-lg hover:shadow-xl transition-shadow"
			>
				{/* Content - Left Side */}
				<div class="flex flex-col justify-between p-8 w-1/3 py-10">
					<div>
						<span
							class="inline-block bg-primary/80 px-3 py-1 rounded-full text-xs font-semibold mb-4 text-white"
						>
							Featured
						</span>
						<h3
							class="text-4xl font-bold line-clamp-3 group-hover:text-primary transition-colors"
						>
							{featuredPost.data.title}
						</h3>
						<p class="text-base mt-4 opacity-90 line-clamp-3">
							{featuredPost.data.description}
						</p>
					</div>
					<time class="text-sm opacity-75 block">
						{featuredPost.data.pubDate.toLocaleDateString("es-ES")}
					</time>
				</div>

				{/* Image - Right Side */}
				<div class="flex-1 overflow-hidden">
					{
						featuredPost.data.heroImage && (
							<Image
								src={featuredPost.data.heroImage}
								alt={featuredPost.data.title}
								class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-300"
							/>
						)
					}
				</div>
			</a>

			<div class="flex-1 h-130 mt-30">
				<CollectionsPreview
					posts={otherPosts.splice(0, 3).map((post) => ({
						slug: post.slug,
						title: post.data.title,
						description: post.data.description,
						heroImage: post.data.heroImage,
						pubDate: post.data.pubDate,
					}))}
				/>
			</div>
		</div>

		<div class="w-full mt-20">
			<LatestArticles
				posts={otherPosts.slice(3).map((post) => ({
					slug: post.slug,
					title: post.data.title,
					description: post.data.description,
					heroImage: post.data.heroImage,
					pubDate: post.data.pubDate,
				}))}
			/>
		</div>
	</main>

	<Footer />
</Layout>
